
*{
    box-sizing: border-box;
}

:root{
    --color1:#ff4718;
    --color2:#acacacf4;

}


body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100% ,url(cover.jpg) no-repeat center/cover ;
    height: 360px;
    position: relative;
    
}


img.cover-profile{
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 5px;
    margin-top: 50px;
    

}

h1{
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 8px;
    margin-bottom: 0px;
}

div.cover p{
    color: antiquewhite;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

div.cover_contact{
    background-color: #ff000000;
    position: absolute;
    top:20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 10px;
}

div.cover_contact a{
    display: block;
    margin-top: 0px;
    color:azure;
    font-size: 14px;
}
div.cover_contact a:first-child{
    margin-bottom: 10px;
}




div.contact{
    margin-top: 30px;
    text-align: center;
}

a.contactme{
    background-color: rgb(0, 0, 0 , 0.5);
    display: inline;
    padding: 8px 20px;
    border: 3px solid var(--color1);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.contactme:hover{
    color: rgb(255, 255, 255);
    border: 3px solid #ffffff;

}

div.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

}
div.saprator{
    background-color: #979797;
    height: 3px;
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;


}

div.grey-section-1 {
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);

    padding-bottom: 70px;
    text-align: center;
    
}

div.grey-section-1 p{
    font-size: 22px;
    color:#444343;
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    
}

div.grey-section-2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);

    padding-top: 100px;
    text-align: center;
    
}
h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

.col40{
    width: 40%;

    
    
}

.col60{
    width: 60%;
    margin-top: 10px;
    text-align: left;
    
}

.floatr{
    float: right;
}

div.text-width-vertical-line{
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.text-width-vertical-line p {
    margin-top: 0px;
}

div.verticalbar{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

div.frame {
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
}


/*portfolio*/
.portfolio-header{
    height: 90px;
    background: url(cover.jpg) no-repeat center/cover ;
    position: relative;
}

.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 4px;
    padding-left: 8px;
}

/*responsive design mobile*/
@media only screen and (max-width: 768px) {
   
    img.cover-profile{
        height: 80px;
        margin-top: 75px;
  }
  h1{
    text-align: center;
    font-size: 38px;
    margin-top: 5px;
    
}

div.cover p{
    font-size: 12px;
    margin-top: 2px;
}

div.section{
    padding-left: 20px;
    padding-right: 20px;
}
div.grey-section-1 {
    text-align: center;
    padding-bottom: 40px;
    


}
h2{
    font-size: 30px;
}
.col40{
    width: 100%;

    
    
}

.col60{
    width: 100%;
    margin-top: 10px;
    text-align: left;
    
}

div.frame {
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
}

}